{%- if site.texture.showNav -%}
<div class="navbar">
	<ul>
		<a href="{{ "/" | relative_url }}"><li>Home</li></a>
		<a href="{{ "/about" | relative_url }}"><li>About</li></a>
		<a href="{{ "/suggestions" | relative_url }}"><li>Suggest</li></a>
	</ul>
</div>
{%- endif -%}
