<div class="container">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		{%- if site.texture.social_links.gitlab -%}
			<a href="https://gitlab.com/{{ site.texture.social_links.gitlab }}"><li><i class="icon-gitlab"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.facebook -%}
			<a href="https://facebook.com/{{ site.texture.social_links.facebook }}"><li><i class="icon-facebook-official"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.feed -%}
    <a href="{{ "/feed.xml" | relative_url }}"><li><i class="icon-rss"></i></li></a>
		{%- endif -%}
	</ul>
</div>
