---
layout: post
---

<br>
<audio controls preload='auto' style='width: 100%;'><source src='{{ page.audio | relative_url }}'></audio>
<p>{% if page.season %}Season {{ page.season }} {% endif %}{% if page.episode %}Episode {{ page.episode }}{% endif %}</p>
{{ content }}
